* {
    margin: 0;
    padding: 0;
  }

body {
  background-color: grey;
  text-align: center;
}

h1 {
    color: yellow;
    margin: 1rem;
}

#scores {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  right: 0;
  background-color: white;
  width: 20%;
  height: 10%;
  border: solid black;
}

#mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: solid black;
  background-color: white;
  width: 50%;
  margin: auto
}

.tileWrapper {
  margin: 1rem;
}

.colorTile {
  margin: 1rem;
}

.colorImage {
  border: solid grey;
  width: 80%;
}

h4 {
  text-decoration: underline;
}

#currentScore, #hiScore {
  text-decoration: underline;
}